<h2>Merchant Details</h2>

<hr/>

<div *ngIf="merchant">

  <h4>Merchant</h4>

  <div>
    <label><b>Name: </b></label> {{merchant.nmMerchant}}
  </div>

  <div>
    <label><b>Document: </b></label> {{merchant.nuDocument}}
  </div>

  <div>
    <label><b>Insert date: </b></label> {{merchant.dtInsert}}
  </div>

  <div>
    <label><b>Update date: </b></label> {{merchant.dtLastUpdate}}
  </div>

  <hr>
  <h4>Address</h4>

  <div><label><b>ZipCode: </b></label> {{address.cdZipcode}}</div>
  <div><label><b>Address: </b></label> {{address.dsAddress}}</div>
  <div><label><b>City: </b></label> {{address.cdCity}}</div>
  <div><label><b>UF: </b></label> {{address.cdUf}}</div>
  <div><label><b>Complement: </b></label> {{address.dsComplement}}</div>
  <div><label><b>Number Address: </b></label> {{address.nuAddress}}</div>

  <hr>
  <h4>Phones</h4>

  <div *ngFor="let phone of phones | async;">
    <div><label><b>DDD: </b></label> {{phone.nuDdd}}</div>
    <div><label><b>Phone: </b></label> {{phone.nuPhone}}</div>
    <div><label><b>Type Phone: </b></label> {{phone.tpPhone}}</div>
    <br>
  </div>

  <hr>
  <h4>Emails</h4>

  <ng-container *ngFor="let mail of emails | async;">
    <div><label><b>Email: </b></label> {{mail.dsEmail}}</div>
    <br>
  </ng-container>

</div>

<br>
<br>

<button (click)="goToList()" class="btn btn-primary">Back to Merchant List</button>
<br>
