<h3 *ngIf="!isEdit">Create Merchant</h3>
<h3 *ngIf="isEdit">Update Merchant</h3>

<br>
<div [hidden]="submitted" style="width: 800px;">

  <form (ngSubmit)="onSubmit()">

    <h4>Merchant</h4>
    <div class="form-group">
      <label for="nmMerchantID">Name</label>
      <input type="text" class="form-control" id="nmMerchantID" required [(ngModel)]="merchant.nmMerchant" name="nmMerchant">
    </div>

    <div class="form-group">
      <label for="nuDocumentID">Document</label>
      <input type="text" class="form-control" id="nuDocumentID" required [(ngModel)]="merchant.nuDocument" name="nuDocument">
    </div>

    <br>
    <hr>

    <h4>Address</h4>

    <div class="form-row">

      <div class="form-group col-md-5">
        <label for="zipCodeId">ZipCode</label>
        <input id="zipCodeId" name="zipCodeField" type="text" class="form-control" #zipCodeField="ngModel" [(ngModel)]="address.cdZipcode">
      </div>

<!--      <div class="form-group" title="Add item">-->
<!--        <label>&nbsp;</label>-->
<!--        <button class="btn btn-primary form-control" (click)="findCep()" type="button">-->
<!--          <span>Find CEP</span>-->
<!--        </button>-->
<!--      </div>-->

    </div>

    <div class="form-row">

      <div class="form-group col-md-8">
        <label for="complementId">Complement</label>
        <input type="text" name="complementField" class="form-control" id="complementId" #complementField="ngModel" [(ngModel)]="address.dsComplement">
      </div>

      <div class="form-group col-md-3">
        <label for="numberId">Number</label>
        <input type="text" name="numberField" class="form-control" id="numberId" #numberField="ngModel" [(ngModel)]="address.nuAddress">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-8">
        <label for="cityId">City</label>
        <input type="text" name="cityField" class="form-control" id="cityId" #cityField="ngModel" [(ngModel)]="address.cdCity">
      </div>

      <div class="form-group col-md-3">
        <label for="ufId">UF</label>
        <input type="text" name="ufField" class="form-control" id="ufId" #ufField="ngModel" [(ngModel)]="address.cdUf">
      </div>

    </div>

    <div class="form-group">
      <label for="neighborhoodId">Neighborhood</label>
      <input type="text" name="neighborhoodField" class="form-control" id="neighborhoodId" #neighborhoodField="ngModel" [(ngModel)]="address.cdNeighborhood">
    </div>

    <div class="form-group">
      <label for="addressId">Address</label>
      <input type="text" name="addressField" class="form-control" id="addressId" #addressField="ngModel" [(ngModel)]="address.dsAddress">
    </div>

    <br>
    <hr>

    <h4>Phones</h4>

    <div *ngFor="let phone of phones; let i = index;">

      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="dddId-{{i}}">ddd</label>
          <input id="dddId-{{i}}" name="fieldDdd-{{i}}" type="text" class="form-control" [(ngModel)]="phone.nuDdd">
        </div>

        <div class="form-group col-md-3">
          <label for="phoneId-{{i}}">Phone</label>
          <input id="phoneId-{{i}}" name="fieldPhone-{{i}}" type="text" class="form-control" [(ngModel)]="phone.nuPhone">
        </div>

        <div class="form-group col-md-3">
          <label for="phoneTypeId-{{i}}">Phone type</label>
          <select [(ngModel)]="phone.tpPhone" id="phoneTypeId-{{i}}" name="phoneTypeField{{i}}" #phoneTypeField{{i}}="ngModel" class="form-control">
            <option value="RESIDENCIAL" >RESIDENCIAL</option>
            <option value="COMERCIAL" >COMERCIAL</option>
            <option value="CELULAR">CELULAR</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label>&nbsp;</label>

          <button *ngIf="!isEdit" class="btn btn-danger form-control" (click)="removePhone(i)" type="button">
            <span>Remove</span>
          </button>

          <button *ngIf="isEdit" class="btn btn-danger form-control" (click)="removePhoneById(phone.id)" type="button">
            <span>Delete</span>
          </button>

        </div>

      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-2">
        <label for="dddId">ddd</label>
        <input id="dddId" name="dddField" type="text" class="form-control" #dddField="ngModel" [(ngModel)]="phoneAux.nuDdd">
      </div>

      <div class="form-group col-md-3">
        <label for="phoneId">phone</label>
        <input id="phoneId" name="phoneField" class="form-control" #phoneField="ngModel" [(ngModel)]="phoneAux.nuPhone">
      </div>

      <div class="form-group col-md-3">
        <label for="phoneTypeId">Phone type</label>
        <select [(ngModel)]="phoneAux.tpPhone" id="phoneTypeId" name="phoneTypeField" #phoneTypeField="ngModel" class="form-control">
          <option value="RESIDENCIAL">RESIDENCIAL</option>
          <option value="COMERCIAL">COMERCIAL</option>
          <option value="CELULAR">CELULAR</option>
        </select>
      </div>

      <div class="form-group col-md-2" title="Add item">
        <label>&nbsp;</label>
        <button class="btn btn-success form-control" (click)="addPhone()" type="button">
          <span>Add Phone</span>
        </button>
      </div>

    </div>

    <br>
    <hr>

    <h4>Emails</h4>

    <div *ngFor="let email of emails; let i = index;">

      <div class="form-row">

        <div class="form-group col-md-7">
          <label for="emailId-{{i}}">Email</label>
          <input id="emailId-{{i}}" name="fieldEmail-{{i}}" type="text" class="form-control" [(ngModel)]="email.dsEmail">
        </div>

        <div class="form-group" title="Add item">
          <label>&nbsp;</label>

          <button *ngIf="!isEdit"  class="btn btn-danger form-control" (click)="removeEmail(i)" type="button">
            <span>Remove</span>
          </button>

          <button *ngIf="isEdit" class="btn btn-danger form-control" (click)="removeEmailById(email.id)" type="button">
            <span>Delete</span>
          </button>

        </div>

      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-7">
        <label for="emailId">Email</label>
        <input id="emailId" name="emailField" type="text" class="form-control" #emailField="ngModel" [(ngModel)]="emailAux.dsEmail">
      </div>

      <div class="form-group" title="Add item">
        <label>&nbsp;</label>
        <button class="btn btn-success form-control" (click)="addEmail()" type="button">
          <span>Add Email</span>
        </button>
      </div>

    </div>

    <button *ngIf="!isEdit" type="submit" class="btn btn-success">Save</button>
    <button *ngIf="isEdit" type="submit" class="btn btn-warning">Update</button>
    <button *ngIf="isEdit" class="btn btn-danger" (click)="goToList()">Cancel</button>

  </form>

</div>

<div [hidden]="!submitted">
  <br>
  <h4>{{message}}</h4>

  <div *ngIf="wrapperApierror">
    <ul style="list-style-type:none;">
      <div *ngFor="let error of wrapperApierror.apierror.subErrors">
        <li >CAMPO '{{error.field}}'  ERRO: {{error.message}} </li>
      </div>
    </ul>
  </div>

  <br>
  <button class="btn btn-primary" (click)="goToList()">List Merchants</button>
  <button class="btn btn-primary" (click)="goToAddMerchant()">Back</button>

</div>
